In [1]:
#階層式索引
#分類欄或列


import numpy as np
import pandas as pd

data = pd.Series(np.random.randn(9),
                index=[['a', 'a', 'a', 'b', 'b', 'c', 'c', 'd', 'd'],
                       [1, 2, 3, 1, 2, 3, 1, 2, 3]])
data

a  1   -1.102558
   2    0.903652
   3   -0.317243
b  1   -0.412698
   2   -0.016791
c  3   -0.412937
   1   -0.558813
d  2   -0.623319
   3    1.349742
dtype: float64

In [2]:
#索引
data['b']

1   -0.412698
2   -0.016791
dtype: float64

In [4]:
#slicing
data['b':'c']

b  1   -0.412698
   2   -0.016791
c  3   -0.412937
   1   -0.558813
dtype: float64

In [7]:
#[list]也可
data[['b', 'd']]

b  1   -0.412698
   2   -0.016791
d  2   -0.623319
   3    1.349742
dtype: float64

In [8]:
#階層式索引可以運用在重新塑型資料和使用群組運算
#產生一個樞紐分析表
#使用unstack()方法塑型資料為DataFrame

data.unstack()

          1         2         3
a -1.102558  0.903652 -0.317243
b -0.412698 -0.016791       NaN
c -0.558813       NaN -0.412937
d       NaN -0.623319  1.349742

In [9]:
data.unstack()

          1         2         3
a -1.102558  0.903652 -0.317243
b -0.412698 -0.016791       NaN
c -0.558813       NaN -0.412937
d       NaN -0.623319  1.349742