In [11]:
import numpy as np
import pandas as pd

obj = """
    {"name": "Wes",
"places_lived": ["United States", "Spain", "Germany"],
"pet": null,
"siblings": [{"name": "Scott", "age": 30, "pets": ["Zeus", "Zuko"]},
                  {"name": "Katie", "age": 38,
                   "pets": ["Sixes", "Stache", "Cisco"]}]
}
"""
obj

'\n    {"name": "Wes",\n"places_lived": ["United States", "Spain", "Germany"],\n"pet": null,\n"siblings": [{"name": "Scott", "age": 30, "pets": ["Zeus", "Zuko"]},\n                  {"name": "Katie", "age": 38,\n                   "pets": ["Sixes", "Stache", "Cisco"]}]\n}\n'

In [12]:
import json
result = json.loads(obj)
result

{'name': 'Wes',
 'places_lived': ['United States', 'Spain', 'Germany'],
 'pet': None,
 'siblings': [{'name': 'Scott', 'age': 30, 'pets': ['Zeus', 'Zuko']},
  {'name': 'Katie', 'age': 38, 'pets': ['Sixes', 'Stache', 'Cisco']}]}

In [13]:
result['siblings'][0]['name']

'Scott'

In [14]:
result['siblings'][0]['age']

30

In [15]:
result['siblings'][1]['age']

38

In [16]:
import urllib3
import certifi
import json

url='https://opendata.cwb.gov.tw/fileapi/v1/opendataapi/O-A0001-001?Authorization=rdec-key-123-45678-011121314&format=JSON'

http = urllib3.PoolManager(cert_reqs='CERT_REQUIRED',ca_certs=certifi.where())
response = http.request('GET',url)
if response.status == 200:
    downloadData = json.loads(response.data.decode('utf-8'))
else:
    print("下載錯誤")

In [17]:
openData = downloadData['cwbopendata']['location']

In [18]:
usefulData = [];
for location in openData:
    oneLocation = {};
    oneLocation['縣市'] = location['parameter'][0]['parameterValue']
    oneLocation['區域'] = location['parameter'][2]['parameterValue']
    oneLocation['時間'] = location['time']['obsTime']
    oneLocation['溫度'] = location['weatherElement'][3]['elementValue']['value']
    usefulData.append(oneLocation)

In [24]:
import pandas as pd
temperature = pd.DataFrame(usefulData)
temperature.tail(20)

      縣市    區域                         時間    溫度
420  嘉義縣   民雄鄉  2020-04-19T15:00:00+08:00  31.0
421  雲林縣   大埤鄉  2020-04-19T15:00:00+08:00  30.1
422  雲林縣   莿桐鄉  2020-04-19T15:00:00+08:00  30.4
423  彰化縣   竹塘鄉  2020-04-19T15:00:00+08:00  29.5
424  雲林縣   臺西鄉  2020-04-19T15:00:00+08:00  27.5
425  雲林縣   水林鄉  2020-04-19T15:00:00+08:00  28.6
426  雲林縣   元長鄉  2020-04-19T15:00:00+08:00  29.5
427  嘉義縣   布袋鎮  2020-04-19T15:00:00+08:00  27.7
428  嘉義縣   鹿草鄉  2020-04-19T15:00:00+08:00  29.8
429  嘉義縣   六腳鄉  2020-04-19T15:00:00+08:00  29.1
430  嘉義縣   新港鄉  2020-04-19T15:00:00+08:00  29.6
431  嘉義縣   梅山鄉  2020-04-19T15:00:00+08:00  31.4
432  嘉義縣  阿里山鄉  2020-04-19T15:00:00+08:00  23.5
433  嘉義縣  阿里山鄉  2020-04-19T15:00:00+08:00  26.2
434  臺南市   白河區  2020-04-19T15:00:00+08:00  31.7
435  嘉義縣  阿里山鄉  2020-04-19T15:00:00+08:00  30.2
436  雲林縣   古坑鄉  2020-04-19T15:00:00+08:00  32.0
437  雲林縣   水林鄉  2020-04-19T15:00:00+08:00  29.0
438  臺南市   北門區  2020-04-19T15:00:00+08:00  28.0
439  臺南市   七股區  2020-04-19T15:00:00+08:00  28.4

In [25]:
#Excel檔案
#使用pd.ExcelFile()
xlsx = pd.ExcelFile('ex1.xlsx')
pd.read_excel(xlsx,'Sheet1')

   Unnamed: 0  a   b   c   d message
0           0  1   2   3   4   hello
1           1  5   6   7   8   world
2           2  9  10  11  12     foo

In [26]:
#Excel檔案
#使用pd.ExcelFile()
xlsx = pd.ExcelFile('總統.xls')
pd.read_excel(xlsx,'中  央')

XLRDError: No sheet named <'中 央'>