In [1]:
import numpy as np
import pandas as pd

!cat ex1.csv # !type ex1.csv

a,b,c,d,message
1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

In [2]:
dataFrame = pd.read_csv('ex1.csv')
dataFrame

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [3]:
pd.read_table('ex1.csv', sep=',')

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [4]:
!cat ex2.csv

1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

In [5]:
pd.read_csv('ex2.csv', header=None)

   0   1   2   3      4
0  1   2   3   4  hello
1  5   6   7   8  world
2  9  10  11  12    foo

In [6]:
pd.read_csv('ex2.csv', names=['a', 'b', 'c', 'd', 'message'])

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [8]:
pd.read_csv('個股日成交資訊.csv',usecols=['證券代號','證券名稱','成交金額','收盤價','成交筆數'])

      證券代號     證券名稱           成交金額    收盤價    成交筆數
0     0050   元大台灣50  3,463,425,684  72.80  23,021
1     0051  元大中型100      1,177,199  26.75      45
2     0052     富邦科技      9,156,750  55.35      67
3     0053     元大電子      1,163,448  32.69      19
4     0054   元大台商50        507,569  18.64      13
...    ...      ...            ...    ...     ...
1108  9944       新麗     22,024,560  14.65     796
1109  9945      潤泰新    178,768,894  33.40   3,169
1110  9946     三發地產     10,936,770  12.55      46
1111  9955       佳龍     10,257,476  12.10     412
1112  9958      世紀鋼    868,126,524  79.50   6,743

[1113 rows x 5 columns]

In [14]:
import urllib3
import certifi
import csv

CSV_URL = "https://opendata.epa.gov.tw/api/v1/AQI?%24skip=0&%24top=1000&%24format=csv"
http = urllib3.PoolManager(cert_reqs='CERT_REQUIRED',ca_certs=certifi.where())
response = http.request('GET',CSV_URL)
if response.status == 200:
    #下載的資料存檔
    with open('空氣品質指標.csv','wb') as f:
        f.write(response.data)
        f.close()
        print('下載,存檔完成')
        
else:
    print('下載失敗')

下載,存檔完成

In [16]:
#!cat 空氣品質指標.csv
apiDataFrame = pd.read_csv('空氣品質指標.csv')
apiDataFrame

,SiteName,County,AQI,Pollutant,Status,SO2,CO,CO_8hr,O3,O3_8hr,...,NO,WindSpeed,WindDirec,PublishTime,PM2.5_AVG,PM10_AVG,SO2_AVG,Longitude,Latitude,SiteId
0,桃園(觀音工業區),桃園市,88,細懸浮微粒,普通,4.6,0.22,0.3,25,17.0,...,1.4,1.7,239.0,2020-04-19 12:00,31.0,48.0,3.0,121.128044,25.063039,312
1,臺南(北門),臺南市,53,細懸浮微粒,普通,2.3,0.3,0.3,23,17.0,...,1.8,3.6,244.0,2020-04-19 12:00,16.0,37.0,1.0,120.124444,23.264722,310
2,屏東(琉球),屏東縣,44,NaN,良好,2.0,0.12,0.2,25,24.0,...,1.2,1.5,176.0,2020-04-19 12:00,14.0,22.0,3.0,120.377222,22.352222,204
3,新北(樹林),新北市,95,細懸浮微粒,普通,2.1,0.88,0.7,41,16.0,...,3.1,0.9,39.0,2020-04-19 12:00,33.0,58.0,2.0,121.383528,24.949028,203
4,彰化(大城),彰化縣,61,細懸浮微粒,普通,2.1,0.24,0.3,36,20.0,...,0.6,5.2,220.0,2020-04-19 12:00,20.0,56.0,3.0,120.273117,23.843139,202
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78,土城,新北市,87,細懸浮微粒,普通,2.5,0.54,0.6,40,16.0,...,3.8,1.4,178.0,2020-04-19 12:00,30.0,43.0,2.0,121.451861,24.982528,5
79,新店,新北市,73,細懸浮微粒,普通,1.8,0.48,0.5,39,22.0,...,3.3,1.5,349.0,2020-04-19 12:00,24.0,33.0,2.0,121.537778,24.977222,4
80,萬里,新北市,68,細懸浮微粒,普通,3.6,0.46,0.3,29,25.0,...,4.3,2.3,61.0,2020-04-19 12:00,23.0,36.0,2.0,121.689881,25.179667,3
81,汐止,新北市,77,細懸浮微粒,普通,2.6,0.85,0.7,23,10.0,...,12.0,0.9,189.0,2020-04-19 12:00,26.0,47.0,3.0,121.642300,25.067131,2
82,基隆,基隆市,70,細懸浮微粒,普通,3.1,0.45,0.5,22,18.0,...,8.4,1.0,41.0,2020-04-19 12:00,23.0,36.0,1.0,121.760056,25.129167,1