In [1]:
import pandas as pd
obj = pd.Series([4, 7, -5, 3])
obj

0    4
1    7
2   -5
3    3
dtype: int64

In [2]:
obj.values

array([ 4,  7, -5,  3])

In [3]:
obj.index

RangeIndex(start=0, stop=4, step=1)

In [4]:
import numpy as np
#自訂索引標籤
obj2 = pd.Series(np.array([4, 7, -5, 3]),index=['d', 'b', 'a', 'c'])
obj2

d    4
b    7
a   -5
c    3
dtype: int64

In [5]:
obj2['a']

-5

In [6]:
obj2['d']

4

In [11]:
#實體方法sort_index()
obj2_1 = obj2.sort_index(ascending=False)
obj2

d    4
b    7
a   -5
c    3
dtype: int64

In [13]:
obj2_1

d    4
c    3
b    7
a   -5
dtype: int64

In [14]:
obj2[['b', 'c']]

b    7
c    3
dtype: int64

In [15]:
#運算
obj2 = pd.Series([4, 7 , -5, 3], index=['d', 'b', 'a', 'c'])
obj2

d    4
b    7
a   -5
c    3
dtype: int64

In [16]:
obj2 * 2

d     8
b    14
a   -10
c     6
dtype: int64

In [18]:
np.power(obj2,2)

d    16
b    49
a    25
c     9
dtype: int64

In [20]:
obj2[obj2 > 0]

d    4
b    7
c    3
dtype: int64

In [22]:
boolObj = pd.Series([False,False,False,True], index=['a', 'b', 'c', 'd'])
boolObj

a    False
b    False
c    False
d     True
dtype: bool

In [24]:
obj2[boolObj]

d    4
dtype: int64

In [26]:
obj2 = pd.Series([4, 7 ,-5, 3], index=['d', 'b', 'a', 'c'])
'b' in obj2

True

In [27]:
'e' in obj2

False

In [28]:
sdata = {'台北':35000, '桃園':71000, '台中':16000, '高雄':5000}
obj3 = pd.Series(sdata)
obj3

台北    35000
桃園    71000
台中    16000
高雄     5000
dtype: int64

In [29]:
obj3['台北']

35000

In [30]:
obj3.台北

35000

In [31]:
obj3 = pd.Series({'台北':35000, '桃園':71000, '台中':16000, '高雄':5000},index=['台中','台北'])
obj3

台中    16000
台北    35000
dtype: int64

In [ ]:
sdata = {'台北':35000, '桃園':71000, '台中':16000, '高雄':5000}
states = ['花蓮','高雄', '台中', '台北']
obj4 = pd.Series(sdata,index=states)