In [2]:
import numpy as np
import pandas as pd

df = pd.DataFrame({'key1':['a', 'a', 'b', 'b', 'a'],
                  'key2':['one', 'two', 'one', 'two', 'one'],
                  'data1': np.random.randn(5),
                  'data2':np.random.randn(5)})
df

  key1 key2     data1     data2
0    a  one -0.987247 -0.334008
1    a  two -0.826163  0.891835
2    b  one  2.063263  0.587019
3    b  two  0.255783 -1.520441
4    a  one  1.166981 -0.539635

In [3]:
grouped = df.groupby('key1')
grouped['data1'].quantile(0.9)

key1
a    0.768352
b    1.882515
Name: data1, dtype: float64

In [5]:
#agg(function)可以自已做統計
#自訂的apple
#只能一個數值
def peak_to_peak(arr):
    return arr.max() - arr.min()
    
grouped.agg(peak_to_peak)

         data1     data2
key1
a     2.154228  1.431469
b     1.807480  2.107461