In [1]:
import numpy as np
import pandas as pd

df = pd.DataFrame({'key1':['a', 'a', 'b', 'b', 'a'],
                  'key2':['one', 'two', 'one', 'two', 'one'],
                  'data1': np.random.randn(5),
                  'data2':np.random.randn(5)})
df

  key1 key2     data1     data2
0    a  one -3.397855  0.934386
1    a  two -0.246963 -1.478395
2    b  one -1.192631 -0.686687
3    b  two  0.782585 -0.805079
4    a  one  0.640390 -1.149658

In [4]:
#group欄位是key1,資料在data1
grouped=df['data1'].groupby(df['key1'])

In [5]:
grouped

In [6]:
grouped.mean()

key1
a   -1.001476
b   -0.205023
Name: data1, dtype: float64