In [11]:
import numpy as np
import pandas as pd

#Series的實體
#Series有方法和屬性
obj = pd.Series([4.5, 7.2, -5.3, 3.6],index=['d', 'b', 'a', 'c'])
obj

d    4.5
b    7.2
a   -5.3
c    3.6
dtype: float64

In [2]:
obj.shape

(4,)

In [5]:
obj[0]

4.5

In [6]:
obj.dtype

dtype('float64')

array([ 4.5,  7.2, -5.3,  3.6])

In [12]:
#排序
obj.reindex(index=['a', 'b', 'c', 'd'])

a   -5.3
b    7.2
c    3.6
d    4.5
dtype: float64

In [15]:
#刪除
obj1 = obj.reindex(index=['a', 'b'])
obj1

a   -5.3
b    7.2
dtype: float64

In [17]:
#新增
obj.reindex(['a','b','c','e'])

a   -5.3
b    7.2
c    3.6
e    NaN
dtype: float64

In [28]:
#DataFrame實體方法reindex()
frame = pd.DataFrame(np.arange(9).reshape((3,3)),
             index=['a', 'c', 'd'],
            columns=['台北', '台中', '高雄'])
frame

   台北  台中  高雄
a   0   1   2
c   3   4   5
d   6   7   8

In [25]:
frame.shape

(3, 3)

In [27]:
frame.dtypes

台北    int64
台中    int64
高雄    int64
dtype: object

In [29]:
frame.values

array([[0, 1, 2],
       [3, 4, 5],
       [6, 7, 8]])

In [31]:
frame1 = frame.reindex(index=['a', 'c'])
frame

   台北  台中  高雄
a   0   1   2
c   3   4   5
d   6   7   8

In [32]:
frame1

   台北  台中  高雄
a   0   1   2
c   3   4   5

In [35]:
frame.reindex(index=['a','c'],columns=['台北', '台中'])

   台北  台中
a   0   1
c   3   4

In [ ]:
#實體方法drop()