In [1]:
'snap'

'snap'

In [2]:
"Crackle"

'Crackle'

In [3]:
"Nay, ' said the naysayer."

"Nay, ' said the naysayer."

In [4]:
'The rare double quote in captivity:'

'The rare double quote in captivity:'

In [5]:
str = 'This is "Python"'
print(str)
str = "This is \" Python\""

This is "Python"

In [6]:
print(99, 'bottles', 'would be enough.')

99 bottles would be enough.

In [1]:
bottles = 99
base = ''
base += 'current inventory'
base = base + str(bottles)
base

'current inventory99'

In [2]:
str(98.6)

'98.6'

In [3]:
str(1.0e4)

'10000.0'

In [4]:
str(True)

'True'

In [5]:
letters = 'abcdefghijklmnopqrstuvwxyz'
print(len(letters))

26

In [6]:
empty = ""
print(len(empty))

0

In [7]:
myString1 = "Hello World"
print(myString1[0])
print(myString1[2])
print(myString1[-1])
print(myString1[-2])
print(myString1[2:])
print(myString1[:3])
print(myString1[1:4])

H
l
d
l
llo World
Hel
ell

In [8]:
name = 'Henny'
name.replace('H','P')

'Penny'

In [9]:
name

'Henny'

In [10]:
'P' + name[1:]

'Penny'

In [11]:
str1 = "This is Python, That is Java; This is SQLite, That is MySQL"
print("原本的字串:", str1)
print()
print("is 替換為 - :" + str1.replace("is", "-"))
print()

原本的字串: This is Python, That is Java; This is SQLite, That is MySQL

is 替換為 - :Th- - Python, That - Java; Th- - SQLite, That - MySQL

In [13]:
str1 = "This is Python, That is Java; This is SQLite, That is MySQL"
print("原本的字串:", str)
print()
print("加上參數值2:" + str1.replace("is", "-", 2))

原本的字串: <class 'str'>

加上參數值2:Th- - Python, That is Java; This is SQLite, That is MySQL

In [29]:
str1 = "this is Python Tutorial, there"
search1 = "Python"
print(str1.find(search1))

search2 = "not"
print(str1.find(search2))
if str1.find(search2) == -1:
    print("沒有發現not")

search3 = "t"
print(str1.find(search3,11,20))

8
-1
沒有發現not
17

In [30]:
str1 = "-"
str2 = ("a", "b", "c")
print(str1.join(str2))

a-b-c

In [31]:
str2 = ("abc", "xyz", "123")
print(str1.join(str2))

abc-xyz-123

In [33]:
str3 = ":".join("Python")
str3

'P:y:t:h:o:n'

In [35]:
str4 = "python-java-c++-ruby"
print(str4.split('-'))
print(str4.split('-',1))

['python', 'java', 'c++', 'ruby']
['python', 'java-c++-ruby']

In [36]:
poem = '''All that doth flow we cannot liquid name Or else would fire and water be the same;
But that is liquid which is moist and wet Fire that property can never get. Then 'tis not cold that doth the fire put out But 'tis the wet that makes it die, no doubt.'''

poem[:13]

'All that doth'

In [37]:
len(poem)

250

In [38]:
poem.startswith('All')

True

In [39]:
poem.endswith('That\'s all folks!')

False

In [41]:
word = 'the'
poem.find(word)

73

In [42]:
poem.rfind(word)

214

In [43]:
poem.count(word)

3

In [45]:
setup = 'a duck goes into a bar...'
setup.strip('.')

'a duck goes into a bar'

In [46]:
setup.capitalize()

'A duck goes into a bar...'

In [47]:
setup.upper()

'A DUCK GOES INTO A BAR...'

In [48]:
setup.lower()

'a duck goes into a bar...'

In [49]:
setup.swapcase()

'A DUCK GOES INTO A BAR...'

In [50]:
setup.center(50)

'            a duck goes into a bar...             '

In [51]:
setup.ljust(50)

'a duck goes into a bar...                         '

In [52]:
setup.rjust(50)

'                         a duck goes into a bar...'

In [ ]:
print('失敗就會退出遊戲!')
inputString = input('請輸入一個接龍字串:')
sampleString = inputString
for single in sampleString:
    print('上一個字串是:',inputString)
    outputWords = "請輸入-",single,"-開始的字串"
    keyin = input(outputWords)
    if keyin[0] != single:
        print('遊戲失敗')
        print('您輸入的字串是:',inputString)
        break
    inputString += '-' + keyin
else:
    print('恭喜!成功完成遊戲')
    print('您輸入的字串是:',inputString)

失敗就會退出遊戲!