# 使用pandas讀寫資料
## 純文字資料格式
### 讀取純文字的部份方法

- read_csv()  
- read_table() 
- read_excel()  
- read_html()
- read_json()  
- read_sas()  
- read_sql() 

#### 常用的引數功能
    1 indexing
    2 資料類型的推測和資料類型的轉換
    3 日期時間的解析
    4 對大型檔案提供多次讀取
    5 清理資料,省略讀取不要的列,header,footer,註解

In [3]:
#使用指令檢視內容
#!cat -> mac
#!type -> windows

!cat ex1.csv

'''
a,b,c,d,message
1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo
'''

#如果是使用「,」分隔,可以使用read_csv
import pandas as pd
dataFrame = pd.read_csv('ex1.csv')
dataFrame

a,b,c,d,message
1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [4]:
#read_table(),加上指定的間格符號
pd.read_table('ex1.csv',sep=',')

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [6]:
#沒有欄位的csv
!cat ex2.csv

'''
1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo
'''

pd.read_csv('ex2.csv',header=None)

1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

   0   1   2   3      4
0  1   2   3   4  hello
1  5   6   7   8  world
2  9  10  11  12    foo

In [7]:
#指定欄位名稱
pd.read_csv('ex2.csv', names=['a', 'b', 'c', 'd', 'message'])

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo